---
layout: page
title: Volby 2018
---

{% assign places = site.data.volby %}

<ul>
  {% for place in places %}
    <li>
      {% if place.type == 'external' %}
        <a href="{{ place.link }}" target="_blank">{{ place.locality }}</a>
      {% else %}
        {% assign page = site.volby2018 | where: "uid", place.uid | first %}
        {% if page %}
          <a href="{{ page.url }}">{{ place.locality }}</a>
        {% else %}
          {{ place.locality }}
        {% endif %}
      {% endif %}
    </li>
  {% endfor %}
</ul>
