{% if page.campaignGroupUid %}
  {% assign campaignGroup = site.data.campaigns | where: "groupUid", page.campaignGroupUid | first %}
{% endif %}

{% if campaignGroup %}
<div class="o-section-block--spaceBot show-for-large">
    <ul class="c-widget-accordion" data-accordion="" data-allow-all-closed="true">
        <li class="c-widget-accordion-item is-active" data-accordion-item="">
            <a href="#toc" class="c-widget-accordion-link">
                <span class="c-widget-accordion__title">{{ campaignGroup.title }}</span>
                <span class="c-widget-accordion__icon c-widget-accordion__icon" aria-hidden="true">
                    <i class="fa fa-list"></i>
                </span>
            </a>
            <div class="c-widget-accordion-content" data-tab-content="" id="toc">
                {% for campaign in campaignGroup.campaigns %}
                <h4>{{ campaign.title }}</h4>
                <ul class="c-widget-accordion-list">
                    <ul>
                        {% assign programSections = site.program | where: "campaignCategoryUid", campaign.categoryUid | sort:"order" %}
                        {% for programSection in programSections %}
                        <li><a class="c-emphasized-anchor {% if page.uid == programSection.uid %}active{% endif %}" href="{{ programSection.url | relative_url }}">{{ programSection.title }}</a></li>
                        {% endfor %}
                    </ul>
                </ul>
                {% endfor %}
            </div>
        </li>
    </ul>
</div>
{% endif %}
