<hr>

<h3>Povolební strategie</h3>
<p>Přečtěte si, jak se zachováme po volbách. Nemusíte volit zajíce v pytli.</p>
{% include buttons/icon.html href="/volby-2020/povolebni-strategie/" cta="Zjistit víc" icon="ico--chevron-right" class="btn btn--icon btn--black btn--hoveractive btn--fullwidth md:btn--autowidth" %}


<hr>

<h3>Financování kampaně</h3>
<p>Transparentní financování kampaně je pro nás samozřejmost.</p>
{% include buttons/icon.html href="https://wiki.pirati.cz/ft/start" cta="Zjistit víc" icon="ico--chevron-right" class="btn btn--icon btn--black btn--hoveractive btn--fullwidth md:btn--autowidth" rel="noopener noreferrer" %}
