{% if page.url contains 'program' %}
<nav class="c-top-sub-nav u-center-860-down">
  <div class="row">
    <div class="c-top-sub-nav-inner">
      <div class="u-cf">
        <div class="c-top-sub-nav-header">
          <div class="c-top-sub-nav__heading"> <a href="{{'/program/' | relative_url }}">Program</a> </div>
        </div>
        <div class="c-top-sub-nav-divider"></div>
        <ul class="c-top-sub-nav-items">
          <li class="c-top-sub-nav__item">
            <a href="https://www.pirati.cz/program/psp2017.html">Parlament 2017</a>
          </li>
          {% comment %}
          <li class="c-top-sub-nav__item">
            <a href="{{'/program/psp2017/kodex-poslance/' | relative_url }}">Kodex poslance</a>
          </li>
          <li class="c-top-sub-nav__item">
            <a href="https://www.pirati.cz/program/psp2017.html">Dlouhodobý program</a>
          </li>
          {% endcomment %}
        </ul>
      </div>
    </div>
  </div>
</nav>
{% elsif page.url contains 'pripoj-se' %}
<nav class="c-top-sub-nav u-center-860-down">
  <div class="row">
    <div class="c-top-sub-nav-inner">
      <div class="u-cf">
        <div class="c-top-sub-nav-header">
          <div class="c-top-sub-nav__heading"> Připoj se </div>
        </div>
        <div class="c-top-sub-nav-divider"></div>
        <ul class="c-top-sub-nav-items">
          <li class="c-top-sub-nav__item">
            <a href="{{'/pripoj-se/' | relative_url }}">Dej o sobě vědět</a>
          </li>
<!--          <li class="c-top-sub-nav__item">
            <a href="{{'/pripoj-se/tymy/' | relative_url }}">najdi si tým</a>
        </li> -->
          <li class="c-top-sub-nav__item">
            <a href="http://objekty.jdem.cz/">Nabídni plot</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
{% elsif page.url contains 'o-nas' or page.url contains 'lide' or page.url contains 'regiony' %}
<nav class="c-top-sub-nav u-center-860-down">
  <div class="row">
    <div class="c-top-sub-nav-inner">
      <div class="u-cf">
        <div class="c-top-sub-nav-header">
          <div class="c-top-sub-nav__heading"> O nás </div>
        </div>
        <div class="c-top-sub-nav-divider"></div>
        <ul class="c-top-sub-nav-items">
          <li class="c-top-sub-nav__item">
            <a href="{{ '/lide/' | relative_url }}">Naši lidé</a>
          </li>
	  {% comment %}
	  <li class="c-top-sub-nav__item">
            <a href="{{ '/regiony/' | relative_url }}">Regiony</a>
          </li>
	  {% endcomment %}
          <li class="c-top-sub-nav__item">
            <a href="https://www.pirati.cz/o-nas/stanovy.html">Stanovy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
{% endif %}
