---
layout: default
description: >
  Spouštíme program PIRÁTSKÝ ZÁCHRANNÝ KRUH, do kterého jsme vložili ze svého rozpočtu 200 tisíc
  korun, především na úkor kampaně do krajských voleb. Cílem tohoto projektu je finanční pomoc
  jednotlivcům, rodinám a drobným podnikatelům v tíživé životní situaci způsobené následky krize, a také
  podpora občanských iniciativ a neziskových organizací zaměřených na pomoc potřebným. Peníze tak
  budou složit ke zmírňování dopadů korona krize na veřejnost.
keywords: pardubice, covid, piráti, pomoc, pomáháme, koronavirus
title: Pirátský záchranný kruh
---

{% capture mainContent %}
<h1 class="head-alt-md md:head-alt-xl">Pirátský záchranný kruh</h1>
{% endcapture %}

{% capture subContent %}
<h2 class="head-xs mt-2">Pomáháme osobám v tížívé životní situaci způsobené následky koronavirové krize.</h2>
{% endcapture %}

{% include hero/advanced.html mainContent=mainContent subContent=subContent  img="pzk/pzk-logo.svg" %}

<div class="container container--default pt-8 lg:pb-16">
  <article>
    <meta itemprop="name" content="{{ page.title }}">

    <div class="lg:flex lg:space-x-8 xl:space-x-16">
      <div class="lg:w-3/5 xl:w-2/3 content-block">
          <p>Spouštíme program <strong>PIRÁTSKÝ ZÁCHRANNÝ KRUH</strong>, do kterého jsme vložili ze svého rozpočtu 200 tisíc korun, především na úkor kampaně do krajských voleb. Cílem tohoto projektu je finanční pomoc jednotlivcům, rodinám a drobným podnikatelům v tíživé životní situaci způsobené následky krize, a tak podpora občanských iniciativ a neziskových organizací zaměřených na pomoc potřebným. Peníze tak budou složit ke zmírňování dopadů korona krize na veřejnost.</p>
          <p>Program má dvě základní části. <strong>Drobné dary</strong> do 5 tisíc Kč a <strong>větší dary</strong> nad 5 tisíc korun. Drobné dary budeme poskytovat přímo na základě darovací smlouvy. Pro větší dary budeme organizovat peer to peer sbírky přímo pro vybrané konkrétní osoby, podnikatele nebo organizace a dary, které bude do sbírky posílat veřejnost, budeme jednou násobit až do maximální výše 15 tisíc korun na jeden projekt. Sbírky budeme vypisovat prostřednictvím platformy <a href="https://znesnaze21.cz/" class="c-emphasized-anchor">Znesnaze21</a> od Nadačního fondu pomoci.</p>
          <p>Pro přihlášení do programu slouží <strong>dva online formuláře</strong>. Jeden je určen pro jednotlivce, rodiny a drobné podnikatele, druhý pro organizace a skupiny. Pomocí formulářů zjistíme základní informace a sestavíme příběh žadatele, který bude následně posuzovat organizační výbor programu a rozhodne o jeho zařazení do programu a poskytnutí přímé pomoci, nebo vypsání sbírky. Hodnotící kritéria jsou součástí pravidel programu, kde je také uvedeno, pro koho je program především určen.</p>
          <p>Členové organizačního výboru jsou: Ivana Böhmová, Lenka Španihelová, Daniel Lebduška, Vladek Vácha, Filip Mezera a vedoucím výboru je Pavel Štěpánek (tel: <a href="tel:770113647" class="c-emphasized-anchor">770 113 647</a>, mail: <a href="mailto:pavel.stepanek@pirati.cz" class="c-emphasized-anchor">pavel.stepanek@pirati.cz</a>).</p>
          <p><i class="ico--book"></i> <a href="/assets/pzk/pzk-pravidla.pdf" target="_blank" rel="noopener noreferrer">Celá pravidla programu</a></p>
      </div>
      <div class="pt-8 lg:w-2/5 xl:w-1/3 lg:pt-0">
        <div class="lg:card lg:elevation-10">
          <div class="lg:card__body content-block">
            <h2>Vyplnit žádost</h2>
            <div class="space-y-4">
              {% include buttons/icon.html href="https://forms.gle/BHtzZd9PLLaoo3EP9" target="_blank" cta="Pro jednotlivce" icon="ico--users" class="btn--cyan-200 btn--hoveractive btn--fullwidth text-lg" %}
              {% include buttons/icon.html href="https://forms.gle/ig6Vo51gxPBktHGo8" target="_blank" cta="Pro organizace"  icon="ico--bank" class="btn--blue-300 btn--hoveractive btn--fullwidth text-lg" %}
            </div>
            {% comment %} <a href="https://forms.gle/BHtzZd9PLLaoo3EP9" target="_blank" rel="noopener noreferrer" class="button large"><i class="fa fa-user"></i> Vyplnit žádost pro jednotlivce</a>
            <a href="https://forms.gle/ig6Vo51gxPBktHGo8" target="_blank" rel="noopener noreferrer" class="button large"><i class="fa fa-group"></i> Vyplnit žádost pro organizace</a> {% endcomment %}
          </div>
        </div>

        {% if site.facebook.profilePage or site.forum.page %}
          <div class="flex flex-col pt-8 lg:space-y-4">
            {% if site.facebook.profilePage %}
              {% include buttons/super.html href=site.facebook.profilePage cta="Sledujte nás na Facebooku" icon="ico--facebook" class="bg-brands-facebook text-white container-padding--zero lg:container-padding--auto lg:w-full" %}
            {% endif %}
            {% if site.forum.page %}
              {% include buttons/super.html href=site.forum.page cta="Sledujte naše fórum" icon="ico--bubbles" class="bg-black text-white container-padding--zero lg:container-padding--auto lg:w-full" %}
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </article>
</div>
