---
layout: default
---

{% include submenu.html %}
{% comment %}
Soubory s daty o pircentrum.ch jsou:
  _data/pircentra.yaml
{% endcomment %}

<div class="row">
  <div class="large-12 colums">
    <section class="o-section o-section--spaceBot">
      <div class="o-section-inner">
        <div class="o-section-block">
          <div class="column medium-12">
          <div class="c-BasicPage">
            <div class="c-BasicPage-content">
              <h2 itemprop="headline" class="c-BasicPage__title">Kde nás můžete najít?</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="large-12">
    <h1 itemprop="headline" class="c-BasicPage-tags__headline">Pirátské centrum:</h1>
    <ul id="ipircentra">
    {% for pircentrum in site.data.pircentra%}
      <li>
	<strong>{{pircentrum.name}}</strong> v ulici
	<a href="https://mapy.cz/zakladni?base=ophoto&q={{pircentrum.location}}">{{pircentrum.location}} </a>
        {% if pircentrum.url != "" %}
	- více informací <a href="{{ pircentrum.url }}">zde</a>
        {%else %}
        {%endif%}
      </li>
    {% endfor %}
    </ul>
  </div>
  </div>  
</div>

