$program-item-ns: '';

.#{$program-item-ns}c-program-key-point-list {
    dt:not(:first-of-type)::before {
        content: "\A";
        white-space: pre-wrap;
        display: block;
        height: 1em;
    }

    dt, dd {
        display: inline;
        margin: 0;
    }
}

.o-section-header + .c-program-candidates,
.o-section-header + .c-program-items {
    margin-top: 1.5rem;
}

.#{$program-item-ns}c-program-intro {
    padding: 1.25rem;
}

.#{$program-item-ns}c-program-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    @include breakpoint(medium down) {
        flex-direction: column;
    }
}

.#{$program-item-ns}c-program-items__item {
    display: flex;
    max-width: 100%;
}

.#{$program-item-ns}c-program-items__item-wrap {
    display: flex;
    color: $white;
    border: 3px $primary-color solid;
}

.#{$program-item-ns}c-program-items__item-inner {
    a:not(.button) {
        color: $black;
        // color: $white;
        text-decoration: none;
    }
}

.#{$program-item-ns}c-program-items__item + .#{$program-item-ns}c-program-items__item {
  margin-top: 1.5rem;
}

.#{$program-item-ns}c-program-candidates {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.#{$program-item-ns}c-program-candidates__others {
  width: 100%;
}

.#{$program-item-ns}c-program-candidates__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-bottom: 1.5rem;
}

.#{$program-item-ns}c-program-candidate-badge {
    display: flex; // keep the height uniform

    .#{$program-item-ns}c-program-candidate-badge__body {
      width: 100%;
      display: flex;
      flex-direction: column;
      border: 3px $primary-color solid;

      .#{$program-item-ns}c-program-candidate-badge__description {
          padding: 1rem;
      }

      .#{$program-item-ns}c-program-candidate-badge__profession {
          display: block;
          margin-bottom: .25rem;
          font-weight: 600;
      }

      .#{$program-item-ns}c-program-candidate-badge__bio {
          margin-top: 1rem;
          margin-bottom: 0;

          @include breakpoint(medium down) {
              display: none;
          }
      }
    }

    .#{$program-item-ns}c-program-candidate-badge__avatar {
        position: relative;
        flex-shrink: 0;
    }

    .#{$program-item-ns}c-program-candidate-badge__rank {
        display: block;
        position: absolute;
        right: 10px;
        bottom: -20px;
        background-color: $black;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        line-height: 34px;
        text-align: center;
        font-size: 1.15em;
        font-weight: bold;
        color: $white;
        border: 3px $white solid;

        span {
            // Compensate for the dot sign.
            padding-left: 3px;
        }
    }
}

@mixin candidate-landscape {
    width: 100%;

    .#{$program-item-ns}c-program-candidate-badge__body {
        flex-direction: row;
    }

    .#{$program-item-ns}c-program-candidate-badge__avatar {
        width: calc(33.3333% - 0.75rem);
    }

    .#{$program-item-ns}c-program-candidate-badge__rank {
        bottom: 10px;
        right: -20px;
    }

    .#{$program-item-ns}c-program-candidate-badge__description {
        padding-left: 1.5rem;
    }
}

.#{$program-item-ns}c-program-candidates__row .#{$program-item-ns}c-program-candidate-badge {
    width: 33.3333333%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;

    @include breakpoint(small down) {
        width: 100%;
        margin-bottom: 1.5rem;

        // note: match leader layout
        @include candidate-landscape();
    }
}

.#{$program-item-ns}c-program-candidate-badge.c-program-candidate-badge--leader {
    @include candidate-landscape();
}

.#{$program-item-ns}c-program-candidate-badge.c-program-candidate-badge--leader + .#{$program-item-ns}c-program-candidates__others {
    margin-top: 1.5rem;
}
