---
layout: default
---

<div class="row">
<div class="medium-12 large-8 columns">
    <div class="o-section o-section--spaceBot">
    <div class="o-section-inner">
        <main class="o-section-block">
        <!-- Article -->
        <article itemtype="http://schema.org/BlogPosting" class="c-BasicPage" itemscope="">
            <link itemprop="mainEntityOfPage" href="http://insertshownpagelinkhere.com">
            <h1 itemprop="headline" class="c-BasicPage__title">
            {%if page.fullname%}{{page.fullname}}{%else%}{{page.title}}{%endif%}
            </h1>
            <div itemprop="description" class="c-BasicPage-content{%if page.class%} {{page.class}}{%endif%}">
                {{ content }}
            </div>
        </article>
        <!-- /Article -->
        </main>
    </div>
    </div>
</div>
<div class="medium-12 large-4 columns">
    <div class="o-section o-section-block">
    <ul class="c-widget-accordion" data-accordion="" data-allow-all-closed="true">
        <li class="c-widget-accordion-item is-active" data-accordion-item="">
        <a href="#" class="c-widget-accordion-link">
            <span class="c-widget-accordion__title">Kandidátní listina</span>
            <span class="c-widget-accordion__icon c-widget-accordion__icon c-widget-accordion__icon--bottom c-widget-accordion__icon--bottomPulled" aria-hidden="true">
            <i class="fa fa-users fa-lg"></i>
            </span>
        </a>
        <div class="c-widget-accordion-content" data-tab-content="">
            <div class="c-widget-accordion-content-inner">
                <ol>
                    {% for candidate in page.candidates %}
                        <li>
                            {% if candidate.uid %}
                                {% assign person = site.people | where: "uid", candidate.uid | first %}
                                <a href="{{ person.url }}">{{ person.fullname }}</a>
                            {% else %}
                                <strong>{{ candidate.name }}</strong>
                            {% endif %}
                            ({{ candidate.age }} let, {{ candidate.profession }}, {{ candidate.party }})
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        </li>
    </ul>
    </div>
</div>
</div>
